
.QLineEdit{
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(52, 152, 219)  transparent;
}

.QTextEdit {
    border: 1px solid rgb(52, 152, 219) ;
    color: white;
}

.QPushButton{
    border: 1px solid transparent;
    color: white;
    border: none;
    border-radius: 15px;
    background-color:rgb(52,73,94);
    
}

.QPushButton:hover{
    background-color:rgb(163, 228, 215);
    color:black;
}

.QPushButton:pressed{
    background-color:rgb(118, 215, 196);
}

.QToolButton {
    border: 1px solid transparent;
    color: white;
    border: none;
    border-radius: 15px;
    background-color:rgb(52,73,94);
    padding-left: 10px;    
}

.QToolButton:hover {
    background-color:rgb(163, 228, 215);
    /* color:black; */
}

.QComboBox{
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(52, 152, 219)  transparent;
}

.QComboBox  QAbstractItemView {
    background-color: rgb(52, 152, 219);
}

.QToolButton::menu-button {
    border: none;
    background-color: black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
}

.QGroupBox{
    border: .5px solid rgb(130, 135, 144);
}

.QGroupBox:title {
    color: white;
}

.QHeaderView::section{
    background-color: rgb(46, 64, 83);
    color:rgb(174, 182, 191);
    border: 1px solid rgb(44, 62, 80);
}

.QTableWidget{
    color: rgb(244, 246, 247);
    outline: 0;
}

.QLabel{
    color:#aeb6bf;
}

.QLabel#lblGroupID{
    color: rgb(255, 255, 255);   
}

.QLabel#lblInstructorID{
    color: rgb(255, 255, 255);
}

.QLabel#LblMessage {
    
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.QLabel#label_8:hover{
    background-color: rgb(44, 62, 80);
    color: white;
}

.QLabel#label_8:mousePressEvent {
    background-color: rgb(93, 109, 126);
}

.QDateEdit{
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(52, 152, 219)  transparent;
}

.QRadioButton{
    color:rgb(174, 182, 191);
}

.QTabWidget{
    background-color: rgb(46, 64, 83);
}

.QTabWidget::pane{
    border:none
}

.QTreeWidget {
	color:rgb(255,255,255);
	background-color:rgba(0,0,0,0);
}

.QMenuBar {
    background-color: rgb(52, 73, 94);
}

.QMenuBar::item {
    color: white;
}

.QMenuBar::item:selected {
    background: rgb(40, 116, 166);
}

.QMenu {
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(93, 109, 126);
}

.QMenu::item:selected {
    border-color: darkblue;background: rgba(27, 79, 114, 150);
    color: white;
}